/* * {
  border: 0.1px solid black;
} */

[theme='dark'] {
  --background-color: rgb(48, 48, 48);
  --color: rgb(211, 209, 209);
  --toggle-button-background-color: #c4c4c4;
  --toggle-button-color: #9c6d6d;
  --toggle-button-border: #c4c4c4;
}

[theme='light'] {
  --background-color: #c4c4c47a;
  --color: black;
  --toggle-button-background-color: rgb(48, 48, 48);
  --toggle-button-color: #9c6d6d;
  --toggle-button-border: #9c6d6d;
}

* {
  font-family: 'Exo', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  min-width: 363px;
  min-height: 600px;
  /* min-height: 660px; */
  padding: 0.1rem;
  border: 1vw solid #c4c4c4;
  background-color: var(--background-color);
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: var(--color);
}

.Header {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  min-height: 10vh;
  /* min-height: 15vh; */
  display: grid;
  grid-template-columns: 2fr 1fr 10fr 3fr;
}

/* .titleAndLogo { */
/* grid-column: 4; */
/* display: flex; */
/* flex-direction: row; */
/* justify-content: flex-start; */
/* gap: 3vw; */
/* align-items: center; */
/* padding-left: 20vw; */
/* } */

.toggles {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.app-logo {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-logo img {
  width: 5vh;
}

.app-title {
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

/* .theme-toggle,
.unit-toggle {
  border: 1vw solid #9c6d6d;
  background-color: #9c6d6d7a;
} */
.theme-toggle-button,
.unit-toggle-button,
.button {
  background-color: var(--toggle-button-background-color);
  color: var(--toggle-button-color);
  cursor: pointer;
  min-width: 10vh;
  min-height: 4.5vh;
  background: transparent;
  border: 1px solid var(--toggle-button-border);
  outline: none;
  transition: 1s ease-in-out;
}

.theme-toggle-button:hover,
.unit-toggle-button:hover,
.button:hover {
  transition: 1s ease-in-out;
  background: var(--toggle-button-background-color);
}

.theme-toggle-button,
.unit-toggle-button {
  min-width: 12vw;
  min-height: 8vh;
  font-size: calc(8px + 1vmin);
}

.Main {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 6fr;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  min-height: 75vh;
}

/* .weather-output {
} */

.weather-icon,
.temperature,
.location-input,
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-icon {
  display: flex;
  align-items: flex-end;
  padding-top: 2vw;
}

.weather-icon-img {
  width: 45%;
  border: 1vw solid #9c6d6d;
  background-color: #9c6d6d7a;
  /* opacity: 0.5; */
}

.temperature-digit {
  width: 45%;
  border: 1vw solid #9c6d6d;
  background-color: #9c6d6d;
  color: white;
  /* opacity: 0.5; */
  text-align: center;
}

.temperature {
  display: flex;
  align-items: flex-start;
}

.locationInputBoxAndSubmitButton {
  width: 89%;
  gap: 2%;
}

.locationInputLabel,
.locationInputBox {
  width: 100%;
}

form,
.locationInputLabel {
  display: flex;
}

.locationInputBox {
  padding: 1vw;
  font-size: calc(10px + 2vmin);
  border: none;
}

.locationInputSubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

.carousel {
  /* grid-row: 4; */
  height: 50vh;
}

.carousel-background {
  /* width: 90%; */
  width: 87vw;
  height: 47vh;

  /* height: 100%; */
  background-color: white;
  border: 1vw solid #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-detail-card,
.no-alert,
.no-forecast {
  width: 84vw;
  border: 1vw solid #9c6d6d;
  background-color: #9c6d6d7a;
  color: #3a7758;
  padding: 1rem;
  /* width: 50%; */
  height: 44vh;
}

.forecast {
  /* width: 100%; */
  width: 84vw;
  border: 1vw solid #9c6d6d;
  background-color: #9c6d6d7a;
  color: #3a7758;
  padding: 1rem;
  /* width: 50%; */
  /* height: 80%; */
  height: 44vh;
  font-size: calc(0.8rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.alert {
  display: grid;
  width: 84vw;
  border: 1vw solid #9c6d6d;
  background-color: #9c6d6d7a;
  color: #3a7758;
  padding: 1rem;
  height: 44vh;
  font-size: calc(0.7rem);
}

.alert-headline,
.alert-effective,
.alert-expires {
  font-weight: bolder;
  font-size: calc(0.8rem);
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
  /* min-height: 10vh; */
}

.main-footer {
  margin-top: 0;
  margin-bottom: 0.5%;
}

.credit {
  text-align: end;
  font-size: calc(5px + 1vmin);
  margin: 0;
}

.portfolio-link,
.credit-link {
  color: #9c6d6d;
  text-decoration: none;
  font-weight: bolder;
}

.portfolio-link:hover,
.credit-link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .theme-toggle-button,
  .unit-toggle-button {
    min-width: 22vw;
    min-height: 5vh;
    font-size: calc(7px + 1vmin);
  }
}
@media (max-width: 910px) {
  .theme-toggle-button,
  .unit-toggle-button {
    min-width: 19vw;
    min-height: 7vh;
  }
}
@media (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }

  #root {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App {
    width: 95vw;
  }

  .Main,
  .weather-icon,
  .temperature,
  .location-input,
  .carousel,
  .weather-detail-card,
  .forecast,
  .alert {
    width: 92vw;
  }
}

@media (min-width: 860px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }

  #root {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App {
    width: 70%;
  }
  .Main,
  .weather-icon,
  .temperature,
  .location-input,
  .carousel,
  .carousel-background,
  .weather-detail-card,
  .forecast,
  .alert,
  .no-forecast,
  .no-alert {
    width: 100%;
  }
}

@media (min-width: 1060px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
  }

  #root {
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App {
    width: 50%;
  }
  .Main,
  .weather-icon,
  .temperature,
  .location-input,
  .carousel,
  .carousel-background,
  .weather-detail-card,
  .forecast,
  .alert,
  .no-forecast,
  .no-alert {
    width: 100%;
  }

  .theme-toggle-button,
  .unit-toggle-button,
  .button {
    font-size: calc(1.3rem);
  }

  .forecast,
  .alert {
    font-size: calc(1rem);
  }
}
